:root {
    --primary-color:#6C63FF;
    --font-color:#2F2E41;
    --white: #fff;
    --hight-light:#11054E;
    --gradiant-color:#0583F2;
    --dark-white-bg-color:#F8F9FC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--font-color);
    font-family: 'Nunito', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 10px 0;

}
h1 {
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
p {
    margin: 10px 0;
}
img {
    width: 100%;
}
.my-1 {
    margin:70px 0;
}

.hight-light {
    color: var(--primary-color);
}

.btn {
     display: inline-block;
     color: var(--white);
     background-image: linear-gradient(45deg, var(--primary-color), var(--gradiant-color));
     padding: 9px 25px ;
     border-radius: 5px;
}
.max-width {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.navbar {
    width: 100%;
    background-color: var(--font-color);
    overflow: hidden;
}
.navbar-container {
    width: 90%;
    height: 80px;
    margin: 0 auto;
}
.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-logo {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-menu{
    display: flex;
}
.nav-menu li {
  margin-right: 20px;
}
.nav-menu li a {
    padding: 10px 10px;
    color:var(--white);
    letter-spacing: 1px;
}

/* main */
.about-right {
    text-align: left;
}
.mt-profile {
    padding: 70px 0;
}
.max-main-width, .nav-flex {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.half-width {
    width: 40%;
    float: left;
}
.works {

    margin-right: 26px;
    padding: 200px 0;
}
.works, .works-title{
      text-align: center;
       
}
.card {
    
    background-color: var(--dark-white-bg-color);
    width: 28%;
    padding: 20px;
    float: left;
    margin: 20px;
    text-align: left;
    border-radius: 5px;
}
.services-card{
    text-align: center;
}
.icon-services {
    font-size: 1.5rem;
}

.portfolio-card {
    background-color: transparent;
}

.portfolio-card a:hover {
    color: var(--primary-color);
}

footer{
    margin-top: 200px;
   background-color: var(--font-color);
   height: 130px;
}
.footer-container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}
.first-child-footer {
    color: var(--white);
    text-align: center;
    align-items: center;
    margin-top: 35px;
}

.social-icon {
    color: var(--white);
    padding: 10px 20px;
}